{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "env": {
        "browser": true
    },
    "globals": {
    },
    "rules": {
        "brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
        "semi": [ 2, "always" ],
        "space-before-function-paren": [0],
        "jsx-quotes": [2, "prefer-double"],
        "react/jsx-boolean-value": 0,
        "react/self-closing-comp": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "quotes": 0,
        "indent": [2, 4, { "SwitchCase": 1 } ],
        "space-infix-ops": 0,
        "comma-dangle": 0,
        "max-len": [ 2, 120, 2 ],
        "yield-star-spacing": ["error", "after"],
        "generator-star-spacing": 0,
        "no-console": 1
    }
}
